<div>
    <h3> Store </h3>
    <span id="mule_stock"></span>
    <br>
    <div>
        <button id="food_mule">Buy Food Mule: $125 <img src="mule_images/food.png" width="50px" height="50px"></button>
        <br>
        <button id="energy_mule"> Buy Energy Mule: $150 <img src="mule_images/energy.png" width="50px" height="50px"></button>
        <br>
        <button id="ore_mule"> Buy Ore Mule: $175 <img src="mule_images/ore.png" width="50px" height="50px"></button>
        <br>
    </div>

    <div>
        <span id="food_stock"></span>
        <span id="energy_stock"></span>
        <span id="ore_stock"></span>
        <br>

        <button id = "buy_food" class="buy"> buy food: $30</button>
        <button id = "buy_energy" class="buy"> buy energy: $25</button>
        <button id = "buy_ore" class="buy"> buy ore: $50</button>
        <br>

        <button id = "sell_food" class="sell"> sell food: $30</button>
        <button id = "sell_energy" class="sell"> sell energy: $25 </button>
        <button id = "sell_ore" class="sell"> sell ore: $50 </button>
    </div>
    <br>

    <button id = "exit"> Exit </button>
</div>