<div>
    <h3> Town </h3>
    <h4 id="round_number"> </h4>
    <h4 id = "player"> </h4>
    <div id="event">
    </div>
    <div class="town_option">
        <img src="town_images/pub.jpg" height="100px">
        <br>
         <button id="pub">Pub</button>
    </div>
    <div class="town_option">
        <img src="town_images/store.png" height="100px">
        <br>
         <button id="store">Store</button>
    </div>
    <div class="town_option">
        <img src="town_images/world.jpg" height="100px">
        <br>
         <button id="world">World</button>
    </div>
</div>